[tool.poetry]
name = "robo-transformers"
version = "0.1.0"
description = "Robotics Transformers Inference. RT-1, RT-2, PALME."
authors = ["Sebastian Peralta <peraltas@seas.upenn.edu>"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "robo_transformers"  },
    { include = "robo_transformers/**/*.py" },
]


[tool.poetry.dependencies]
python = ">=3.11,<3.12"
robotics-transformer = {path = "third_party/rt1"}
absl-py = "2.0.0"
aiohttp = "3.9.1"
aiosignal = "1.3.1"
argcomplete = "3.2.0"
astunparse = "1.6.3"
attrs = "23.1.0"
boto = "2.49.0"
build = "1.0.3"
cachecontrol = "0.13.1"
cachetools = "5.3.2"
certifi = "2023.11.17"
cffi = "1.16.0"
charset-normalizer = "3.3.2"
cleo = "2.1.0"
cloudpickle = "3.0.0"
coverage = "7.3.2"
crashtest = "0.4.1"
crcmod = "1.7"
cryptography = "41.0.7"
decorator = "5.1.1"
distlib = "0.3.7"
dm-tree = "0.1.8"
dulwich = "0.21.7"
fasteners = "0.19"
fastjsonschema = "2.19.0"
filelock = "3.13.1"
flatbuffers = "23.5.26"
frozenlist = "1.4.0"
gast = "0.5.4"
gcs-oauth2-boto-plugin = "3.0"
gin-config = "0.5.0"
google-apitools = "0.5.32"
google-auth = "2.25.2"
google-auth-oauthlib = "1.1.0"
google-pasta = "0.2.0"
google-reauth = "0.1.1"
grpcio = "1.60.0"
gsutil = "5.27"
gym = "0.23.0"
gym-notices = "0.0.8"
h5py = "3.10.0"
httplib2 = "0.20.4"
idna = "3.6"
importlib-metadata = "7.0.0"
iniconfig = "2.0.0"
installer = "0.7.0"
jaraco-classes = "3.3.0"
keras = "2.15.0"
keyring = "24.3.0"
libclang = "16.0.6"
markdown = "3.5.1"
markupsafe = "2.1.3"
ml-dtypes = "0.2.0"
monotonic = "1.6"
more-itertools = "10.1.0"
msgpack = "1.0.7"
multidict = "6.0.4"
numpy = "1.26.2"
oauth2client = "4.1.3"
oauthlib = "3.2.2"
opt-einsum = "3.3.0"
packaging = "23.2"
pexpect = "4.9.0"
pillow = "10.1.0"
pkginfo = "1.9.6"
platformdirs = "3.11.0"
pluggy = "1.3.0"
poetry = "1.7.1"
poetry-core = "1.8.1"
poetry-plugin-export = "1.6.0"
protobuf = "4.23.4"
ptyprocess = "0.7.0"
pyasn1 = "0.5.1"
pyasn1-modules = "0.3.0"
pycparser = "2.21"
pygame = "2.1.3"
pyopenssl = "23.3.0"
pyparsing = "3.1.1"
pyproject-hooks = "1.0.0"
pytest = "7.4.3"
pytest-cov = "4.1.0"
pyu2f = "0.1.5"
rapidfuzz = "3.5.2"
requests = "2.31.0"
requests-oauthlib = "1.3.1"
requests-toolbelt = "1.0.0"
retry-decorator = "1.1.1"
rsa = "4.7.2"
shellingham = "1.5.4"
six = "1.16.0"
tensorboard = "2.15.1"
tensorboard-data-server = "0.7.2"
tensorflow = "2.15.0"
tensorflow-estimator = "2.15.0"
tensorflow-hub = "0.15.0"
tensorflow-probability = "0.22.1"
tensorflow-serving-api = "2.14.1"
termcolor = "2.4.0"
tf-agents = "0.18.0"
tf-keras = "2.15.0"
tf-slim = "1.1.0"
tomlkit = "0.12.3"
trove-classifiers = "2023.11.29"
typing-extensions = "4.9.0"
urllib3 = "2.1.0"
virtualenv = "20.25.0"
werkzeug = "3.0.1"
wrapt = "1.14.1"
xattr = "0.10.1"
yarl = "1.9.4"
zipp = "3.17.0"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
pytest-cov = "^4.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"



[tool.coverage.run]
source = ["robo_transformers"]

[tool.coverage.html]
directory = "coverage_html_report"


